.banner {
  padding: 0;
}

.banner__wrapper {
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--image {
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-color: $ce-btn-green;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  svg {
    fill: $ce-white;
    display: block;
    padding-top: $margin-65;
    margin: auto;
  }
}

.banner__description {
  max-width: 160px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: $margin-40;
  color: $ce-white;
  font-size: $font-size-16px;
}

.banner__image {
  top: 0;
}

@media (min-width: $tablet-width) {
  .banner__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
  }

  .banner__image {
    width: 50%;
  }

  .banner__description {
    width: 50%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    width: 30%;
    padding-left: 80px;
    margin-bottom: 0;
  }

  .banner__wrapper {
    height: 100%;
    flex-direction: column;
  }

  .banner__description {
    width: 50%;
    text-align: center;
  }
}
