.example {
  background-color: $ce-gray;
}

.container__example {
  margin-top: $margin-35;
  margin-bottom: $margin-40;
}

.example__title {
  font-weight: 400;
  margin-top: 0;
}

.example__description {
  margin-bottom: $margin-30;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $ce-white;
  }

  .example::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 465px;
    width: 100%;
    background-color: $ce-gray-lighter;
    z-index: -1;
  }

  .container__example {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: $margin-50;
    margin-bottom: $margin-60;
    margin-left: $margin-30;
    margin-right: $margin-30;
    height: calc(620px + 385px - 60px - 55px);
  }

  .example__column--image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .example__title {
    font-size: $tablet-h1;
  }

  .example__description {
    font-size: $font-size-16px;
    line-height: 1.5;
    margin-bottom: $margin-55;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 0;
  }

  .container__example {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: $margin-110;
    margin-right: $margin-110;
    margin-top: 0;
    height: auto;
  }

  .example::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 475px;
    width: 100%;
    background-color: $ce-gray-lighter;
    z-index: -1;
  }

  .example__column {
    &--description {
      padding-right: $margin-20;
      width: 40%;
    }

    &--image {
      position: relative;
      right: 0;
      width: 55%;
      padding-left: $margin-20;
    }
  }

  .example__title {
    padding-top: $margin-40;
    padding-bottom: $margin-145;
    margin-bottom: 0;
  }

  .example__description {
    margin-bottom: $margin-70;
  }
}
