.page-header {
  border-bottom: 1px solid $ce-gray-lighter;

  &::after {
    display: none;
  }
}

.container__page-header {
  padding-top: $margin-10;
  padding-bottom: $margin-15;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
  width: 100%;
  max-width: 190px;
}

.toggle-menu {
  position: relative;
  z-index: 7;
  display: inline-block;
  padding: 0;
  width: 25px;
  line-height: 30px;
  margin-bottom: 6px;
  background: transparent;
  border: none;
  cursor: pointer;

  & span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    font-size: 0;
    color: transparent;
    background: $ce-text-black;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $ce-text-black;
    }

    &::before {
      top: 7px;
    }

    &::after {
      top: -7px;
    }
  }
}

.site-list {
  display: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: $margin-25 auto;
  padding-bottom: $margin-25;
  border-bottom: 1px solid $ce-gray-dark;

  &:last-child {
    margin-bottom: 0;
  }
}

.site-list__link {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: none;
  }

  .container__page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $margin-25;
    margin-bottom: $margin-60;
  }

  .toggle-menu {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 60%;
  }

  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }

  .site-list__item {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .site-list__link {
    font-size: $font-size-18px;
    font-weight: 400;
    padding-bottom: $margin-10;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
  }

  .container__page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $margin-55;
    margin-left: $margin-110;
    margin-right: $margin-110;
    margin-bottom: $margin-85;
  }

  .main-nav {
    max-width: 45%;
  }

  .main-nav--white {
    color: $ce-white;
  }

  .site-list__link--white {
    color: $ce-white;
  }
}
