.home-hero {
  position: relative;
  text-align: center;
  color: $ce-white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    min-height: 306px;
    width: 100%;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-color: $ce-btn-green;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
  }
}

.container__hero {
  display: flex;
  flex-direction: column;
  margin-left: $margin-20;
  margin-right: $margin-20;
  padding-top: $margin-30;
  margin-bottom: $margin-20;
}

.home-hero__image {
  margin: auto;
  margin-top: $margin-30;
}

.home-hero__title,
.home-hero__motto {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.home-hero__title {
  margin-bottom: $margin-20;
  line-height: 1;
}

.home-hero__motto {
  text-transform: uppercase;
  margin-bottom: $margin-30;
}

@media (min-width: $tablet-width) {
  .home-hero {
    color: $ce-text-black;

    &::before {
      display: none;
    }
  }

  .container__hero {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 870px;
    margin-bottom: 0;
    padding-top: $margin-30;
  }

  .home-hero__image {
    position: absolute;
    bottom: 0;
    left: 10%;
    margin: 0 auto;
    z-index: -1;
  }

  .home-hero__title,
  .home-hero__motto {
    text-align: left;
    padding-left: $margin-90;
    max-width: 540px;
  }

  .home-hero__title {
    font-size: $tablet-h1;
    margin-bottom: $margin-35;
  }

  .home-hero__motto {
    font-size: $font-size-20px;
    margin-bottom: $margin-50;
  }

  .btn--home-hero {
    margin-left: $margin-90;
    max-width: 300px;
    font-size: $font-size-20px;
  }
}

@media (min-width: $desktop-width) {
  .home-hero {
    margin-top: -200px;
    min-height: 695px;
    z-index: -2;
    color: $ce-text-black;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: inherit;
      min-height: 695px;
      min-width: 720px;
      width: 50%;
      background-image: url("img/index-background-mobile@1x.jpg");
      background-color: $ce-btn-green;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  .container__hero {
    min-height: calc(695px - 140px);
    padding-top: 0;
    margin-top: $margin-140;
    margin-bottom: $margin-80;
  }

  .home-hero__image {
    position: absolute;
    display: block;
    left: 35%;
    bottom: 10%;
    z-index: -1;
  }

  .home-hero__title {
    padding-top: $margin-85;
  }

  .home-hero__motto {
    margin-bottom: $margin-55;
  }
}
