.program-selector {
  text-transform: uppercase;
}

.container__program-selector {
  display: flex;
  flex-direction: column;
  padding-top: $margin-30;
  padding-bottom: $margin-35;
  margin-left: $margin-20;
  margin-right: $margin-20;
}

.program-selector__title {
  text-transform: none;
  margin-bottom: $margin-35;
  font-weight: 400;
  margin-top: 0;
}

.program-selector__description {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  margin-bottom: $margin-40;
  padding-right: $margin-30;
  color: $ce-text-black;
}

.program-selector__legend {
  font-size: $font-size-root;
  text-transform: none;
  text-align: center;
  margin: auto;
  font-family: $font-family-text;
  color: $ce-text-black-lighter;
}

@media (min-width: $tablet-width) {
  .container__program-selector {
    padding-top: 0;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: $margin-70;
    margin-right: $margin-70;
  }

  .program-selector__title {
    width: 100%;
    font-size: $tablet-h1;
    margin-bottom: $margin-50;
  }

  .program-selector__description {
    width: 100%;
    font-size: $font-size-20px;
    max-width: 330px;
    margin-bottom: $margin-70;
  }

  .program-selector__form {
    width: 100%;
  }

  .btn--request {
    width: 50%;
    margin-bottom: 0;
  }

  .program-selector__legend {
    width: 50%;
    margin: 0;
    font-size: $font-size-16px;
  }
}

@media (min-width: $desktop-width) {
  .container__program-selector {
    margin-left: $margin-110;
    margin-right: $margin-110;
    padding-bottom: $margin-80;
  }

  .program-selector__title {
    width: 100%;
    font-size: $tablet-h1;
    margin-bottom: $margin-50;
  }

  .program-selector__description {
    width: 100%;
    font-size: $font-size-20px;
    max-width: 330px;
    margin-bottom: $margin-70;
  }

  .program-selector__form {
    width: 100%;
  }

  .btn--request {
    width: 50%;
    margin-bottom: 0;
  }

  .program-selector__legend {
    width: 50%;
    margin: 0;
    font-size: $font-size-16px;
  }
}
