.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.btn {
  &--slider {
    font-size: $font-size-20px;
    text-transform: uppercase;
    padding: $margin-15 0 $margin-15 $margin-10;
    background: none;
    color: $ce-text-black;
  }

  &--slider-before {
    padding: $margin-15 $margin-20 $margin-15 $margin-20;
    text-align: right;
  }

  &--slider-after {
    padding: $margin-15 $margin-20 $margin-15 $margin-20;
    text-align: left;
  }
}

.slider-outline {
  position: relative;
  min-width: 85px;
  height: 6px;
  border: 1px solid $ce-gray-dark;
  border-radius: 10px;
  padding: 4px;
  background-color: $ce-white;
  margin-top: $margin-15;
  margin-bottom: $margin-15;
}

.slider__toggle {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $ce-btn-green;
}

@media (min-width: $tablet-width) {
  .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .btn {
    &--slider {
      width: 20%;
      padding: $margin-15 0 $margin-15 $margin-10;
    }

    &--slider-before {
      padding: $margin-15 $margin-25 $margin-15 $margin-20;
      text-align: right;
    }

    &--slider-after {
      padding: $margin-15 $margin-20 $margin-15 $margin-25;
      text-align: left;
    }
  }

  .slider-outline {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color: $ce-gray-dark;
    padding: 0;

    &::after {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 50%;
      left: 50%;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border: solid 1px $ce-gray-dark;
      background-color: $ce-white;
    }
  }

  .slider__toggle {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background-color: $ce-white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .slider__toggle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: $ce-btn-green;
  }
}
