.container {
  margin-left: $margin-20;
  margin-right: $margin-20;
}

@media (min-width: $tablet-width) {
  .container {
    margin-left: $margin-30;
    margin-right: $margin-30;
  }
}

@media (min-width: $desktop-width) {
  .container {
    margin-left: $margin-110;
    margin-right: $margin-110;
  }
}
